ion-header {
    border-bottom: 2pt solid black;
}

ion-toolbar {
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-left: 0;
    --padding-right: 0;
}

.AyogiHeader .toolbar-container {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-inline-start: 0;
    /* padding-left: 0;
    padding-left: 0; */
}

.AyogiHeader .otherheader {
    text-transform: uppercase;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: calc(var(--yogi-font-size) * 1);
    letter-spacing: 0.3em;
}

.AyogiHeader .chapterheader {
    text-align: left;
    white-space: nowrap;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    text-transform: uppercase;
    /* font-size: calc(var(--yogi-font-size) * 0.6); */
    letter-spacing: 0.3em;
    font-style: normal;
    font-weight: normal;
  }
  
  .AyogiHeader .chapterheader span span {
    font-size: calc(var(--yogi-font-size) * 1.2);
    letter-spacing: -0.05em;
}

ion-avatar {
    --border-radius: 0;
  }
  
  .AyogiHeader .yogananda-row {
      height: 4rem;
    /* height: calc((var(--yogi-font-size) * 5)); */
  }

  .AyogiHeader .yogananda-portrait {
      opacity: 0.4;
      height: 70px;
      width: 58px;
      border: 4px solid #428dc6;
  }

  .AyogiHeader .yogananda-portrait img {
      height: 62px;
    border: 1px solid #fff;
}

.AyogiHeader .chaptertitle {
    text-align: left;
    font-family: "Baskerville Book BQ Regular", "Baskerville Book BQ", "Baskerville", "Palatino", "Palatino Linotype", "Book Antiqua", "Times", "Times New Roman", serif;
    font-style: italic;
    font-size: calc(var(--yogi-font-size) * 1.5);
    font-weight: normal;
    letter-spacing: .020em;
    word-spacing: .05em;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
}

@media (max-width: 768px) {
    .AyogiHeader .chaptertitle {
        font-size: calc(var(--yogi-font-size) * 1.2);
    }
}

@media (max-width: 500px) {
    .AyogiHeader .chaptertitle {
        font-size: calc(var(--yogi-font-size) * 1.1);
    }
}
  