
.footnote {
    display: block;
    /* font-size: 0.9rem; */
    font-size: 9pt;
    line-height: 9pt;
    text-align: justify;
}

.popover-wrapper .footnote {
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: justify;
}

ion-badge {
    background-color: rgb(189, 189, 189);
    margin: -0.3rem -0.2rem -0.3rem 0.1rem;
    padding: 0.1rem 0.7rem;
}

