 .AyogiType {
     width: 90%;
     margin: auto;
     /* display: flex;
     flex-direction: row; */
     justify-content: center;
     text-align: center;
     text-align: -webkit-center;
 }
 
  .AyogiType > div {
     /* text-align: center; */
     margin: 0 20px;
 }

 @media (max-width: 768px) {
    .AyogiType {
        width: 100%;
    }
    .AyogiType > div {
        margin: 1px;
    }
}

 @media (min-width: 768px) {
     .AyogiType {
         width: 70%;
     }
 }

