.AyogiMetaPopup {
    position: relative;
    display: inline;
    margin:0.1rem;
    padding: 0;
}

.AyogiMetaPopup.SCRIPTURE ion-badge {
    background-color: blueviolet;
    border: 1px solid darkolivegreen;
    color: white;
    display: inline-block;
}

.AyogiMetaPopup.PERSON ion-badge {
    background-color: cornflowerblue;
    border: 1px solid darkslategray;
    color: white;
    display: inline-block;
}

.AyogiMetaPopup .meta {
    display: inline-table;
    position: absolute;
    max-width: 200px;
    top: 30px;
    left: -100px;
    opacity: 0.9;
    background-color: #eee;
    border: 1px solid lightseagreen;
    /* border-bottom: 1px solid lightseagreen; */
    margin: 0px 0px;
    padding-left: 0.1rem;
}

.AyogiMetaPopup .meta span {
    font-size: calc(var(--yogi-font-size) * 0.8);
    line-height: 9pt;
    white-space: nowrap;
}

.AyogiChapters .AyogiMetaPopup Button {
    font-weight: bold;
    display: inline-block;
    width: 20px;
    margin: 0 0 0 5px;
    padding: 0 0 0 6px;
}
