.AyogiQuoteSelectText {
    font-size: calc(var(--yogi-font-size) * 1.1);
}
    
.quoteclass {
    background-color: rgb(223, 222, 219);
    color: rgb(0, 0, 0);
}

.quoterange {
    --knob-size: 2rem;
}