.AyogiQuoteSelectText {
    font-size: calc(var(--yogi-font-size) * 1.1);
}
    
.quoteclass {
/*     background-color: rgb(146, 148, 156, 0.1); */
    background-color: rgb(223, 222, 219, 0.3);
    color: rgb(0, 0, 0);
}

.quoterange {
    --knob-size: 2rem;
}