
.definition {
    hyphens: auto;
    /* font-size: calc(var(--yogi-font-size) * 0.9);
    line-height: 9pt;
    text-align: justify; */
    text-decoration: underline;
    text-decoration-color:rgb(189, 189, 189);
    margin-right: 0.4rem;
}

.popover-wrapper .definition {
    /* margin: 0.5rem;
    padding: 0.5rem; */
    text-align: justify;
    font-size: calc(var(--yogi-font-size) * 0.9);
}
