
.footnote {
    display: block;
    hyphens: auto;
    font-size: calc(var(--yogi-font-size) * 0.9);
    line-height: 9pt;
    text-align: justify;
}

/* .footnote .emphasis {
    font-size: calc(var(--yogi-font-size) * 0.9);
} */

.footnotepoem {
    display: block;
    margin-left: 1rem;
}

.popover-wrapper .footnote {
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: justify;
}

.AyogiFootnoteAlert ion-badge {
    background-color: rgb(189, 189, 189);
    margin: -0.1rem -0.08rem -0.4rem 0.08rem;
    padding: calc(0.1rem + (var(--yogi-font-size) * 0.05)) calc(0.1rem + (var(--yogi-font-size) * 1.5));
}

