.AyogiFooters {
    padding: 10px 30px;
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
}
/* 
.AyogiFooters span {
    font-size: 1rem;
} */

.AyogiFooters li {
    /* list-style: decimal-leading-zero; */
    /* font-size: 0.8em; */
    /* margin: 0 0 0 2em; */
}

.AyogiFooters ol {
    /* border-top: 1px solid green;
    border-bottom: 1px solid purple;
    list-style-type: none; */
}

