.AyogiImage {
    min-height: 200px;
    min-width: 250px;
    /* border-top: 1px solid; */
    border: 1px solid #999;
    /* padding: 3rem 0.5rem;
    margin-top: 1rem; */
    /* margin: 1rem;
    padding: 0.5rem; */
}

.AyogiImage,
.AyogiImage a,
.AyogiImageOuter
{
    width:  100%;
    height: 100%;
}

.AyogiImage ion-card 
{
    text-align: center;
}

.swiper-pagination {
    top: 2px;
}

.swiper-slide img {
    width: 100%;
}

.image-div {
    text-align: center;
    text-align: -webkit-center;
}

.imageinner {
    position: relative;
}

.AyogiImage p.smallSpace {
    font-size: calc(14px + (var(--yogi-font-size) * 0.2));
    line-height: 0.2rem;
}


/************** Titles *********************/

.AyogiImage .ImageAlternateTitle {
    display: none;
    font-size: calc(14px + (var(--yogi-font-size) * 0.2));
}

.AyogiImage .ImageMainTitle {
    font-size: calc(9px + (var(--yogi-font-size) * 0.1));
    font-weight: normal;
    text-align: center;
    text-indent: 0pt;
    text-transform: uppercase;
    margin-bottom: 0.7rem;
    font-family: "Venetian301ETT Bd BT", "Baskerville Book BQ Regular", "Baskerville Book BQ", "Baskerville", "Palatino", "Palatino Linotype", "Book Antiqua", "Times", "Times New Roman", serif;
    margin-top: 1.5rem;
}

/* .ImageMainTitle {
    display: inline-block;
    width: 100%;
} */

.AyogiImage .ImageCredit {
    text-align: right;
    font-style: italic;
    margin-top: -4rem;
    margin-bottom: 1rem;
    font-size: calc(10px + (var(--yogi-font-size) * 0.05));
    display: block;
    width: 100%;
}


/* image titles */

.AyogiImage div.imagewrap {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.AyogiImage .image {
    position: relative;
}

.AyogiImage img#fig7 {
    margin: 0;
    width: 100%;
    object-fit: contain;
}

.ImageAlternateTitle {
    text-indent: 0pt;
    font-size: calc(14px + (var(--yogi-font-size) * 0.2));
    line-height: 1rem;
    text-align: center;
}

.ImageSubTitle1a,
.ImageSubTitle1 {
    font-size: calc(14px + (var(--yogi-font-size) * 0.2));
    font-weight: normal;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-indent: 0pt;
    text-transform: none;
}

.ImageSubTitle1, .ImageSubTitle2 {
    margin-bottom: 0.7rem;
}

.ImageSubTitle2a,
.ImageSubTitle2 {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-indent: 0pt;
    text-transform: none;
    font-size: calc(14px + (var(--yogi-font-size) * 0.2));
    font-family: "Excelsior LT Std", "Baskerville Book BQ Regular", "Baskerville Book BQ", "Baskerville", "Palatino", "Palatino Linotype", "Book Antiqua", "Times", "Times New Roman", serif;
    font-weight: normal;
    font-style: italic;
    /* margin-bottom: 6pt; */
}

.ImageSubTitle2a {
    margin-bottom: 0rem;
}

.ImageSubTitle2+.ImageSubTitle2 {
    margin-top: -10px;
}


/***********************    Captions ************************/

.ImageCaption_centered_large {
    text-indent: 0pt;
    font-size: calc(var(--yogi-font-size) * 1);
    line-height: 1.5rem;
    text-align: center;
}

.ImageCaption_indented_top,
.ImageCaption_indented,
.ImageCaption_indented_large,
.ImageCaption {
    display: inline-block;
    text-align: justify;
}

.ImageCaption_continued {
    display: flex;
    font-style: italic;
}

.ImageCaption_continued,
.ImageCaption {
    /* TODO: Check */
    text-align: justify;
    text-indent: 0pt;
    font-size: calc(14px + (var(--yogi-font-size) * 0.2));
    line-height: 1rem;
}

.ImageCaption_centered {
    text-indent: 0pt;
    font-size: calc(14px + (var(--yogi-font-size) * 0.2));
    line-height: 1rem;
    text-align: center;
}

.ImageCaption_indented_large {
    text-indent: 1rem;
    font-size: calc(14px + (var(--yogi-font-size) * 0.2));
    line-height: 1.5rem;
}

.ImageCaption_indented_top,
.ImageCaption_indented {
    text-indent: 1rem;
    font-size: calc(14px + (var(--yogi-font-size) * 0.2));
    line-height: 1rem;
}

.LEFTCaption,
.RIGHTCaption,
.UPPERLEFTCaption,
.LOWERLEFTCaption {
    display: inline;
}

.LEFTCaption:before,
.RIGHTCaption:before,
.UPPERLEFTCaption:before,
.LOWERLEFTCaption:before {
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: calc(14px + (var(--yogi-font-size) * 0.2));
    line-height: 0.8rem;
}

.LEFTCaption:before {
    content: "(LEFT) ";
}

.RIGHTCaption:before {
    content: "(RIGHT) ";
}

.UPPERLEFTCaption:before {
    content: "(UPPER LEFT) ";
}

.LOWERLEFTCaption:before {
    content: "(LOWER LEFT) ";
}