
.definition {
    display: block;
    hyphens: auto;
    font-size: calc(var(--yogi-font-size) * 0.9);
    line-height: 9pt;
    text-align: justify;
}

.popover-wrapper .definition {
    /* margin: 0.5rem;
    padding: 0.5rem; */
    text-align: justify;
}

.AyogiDefinitionAlert ion-badge {
    margin: -0.1rem -0.08rem -0.4rem 0.08rem;
    padding: 0.2rem;
    font-weight: normal;
    border: 1px solid grey;
}

