.AyogiPoem {
    text-align: left;
    padding-top: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    font-size: var(--yogi-font-size);
}

/* .swiper-container-horizontal >.swiper-pagination-bullets, 
.swiper-pagination-custom, 
.swiper-pagination-fraction, */
.swiper-pagination {
    top: 2px;
}

ion-card-header {    
    font-size: var(--yogi-font-size);
    border-bottom: 1px solid lightgrey;
    margin: 1rem 0.5rem 0.1rem;
}


.poem-div {
    text-align: center;
    text-align: -webkit-center;
}

.poem-div ion-card {
    max-width: 500px;
}

.AyogiPoem .poem.break
{
    /* background-color: beige; */
    margin-left: 0.5rem;
}

.AyogiPoem .poem.break:before {
    content:"\a";
    white-space: pre;
}

.AyogiPoem .poem + .poem::after {
    content: " ";
    white-space: pre;
  }
  
.AyogiPoem .poem {
    margin-top: 0px;
}

.AyogiPoem .paragraphIndent.poem {
    margin-left: 0px;
}

.AyogiPoem .paragraphIndent.poem + .poem,
.AyogiPoem .paragraphIndent.poem + .poem + .poem,
.AyogiPoem .paragraphIndent.poem + .poem + .poem + .poem
 {
    display: inline;
    margin-left: -0.2em;
}

.AyogiPoem .poemIndent {
    margin-left: 1em;
}


.AyogiPoem .poemStart {
    margin: 30px 0;
    border-bottom: 1px solid black;
}

.AyogiPoem .YoungAttributionIndent {
    margin-left: 1em;
}

.AyogiPoem .ravidasStart {
    margin-left: 1em;
}

.AyogiPoem .samadhi {
    font-size: calc(var(--yogi-font-size)*0.9);
}
/*

.AyogiPoem .shankaraStart {
} */

@media (max-width: 768px) {
    .poem-div ion-card {
        max-width: 400px;
    }
    
    .AyogiPoem {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-left: 0.5rem;
        margin-top: 0.1rem;
        margin-left: 0.05rem;
        margin-bottom: 0.1rem;
        width: 100%;
    }
    .AyogiPoem .poem {
        font-size: calc(var(--yogi-font-size)*0.85);
    }
}

