.PoemList {
    border: 1px solid blue;
}

.PoemList ion-card {
    width:  100%;
    padding: 1rem 0.5rem;
    margin: 0.3rem 0.2rem;
}

.PoemList a {
    text-decoration: none 
}

ion-card-subtitle {
    font-size: 1.0rem;
}

.chaptertitle {
    color: black;
    text-align: center;
    font-family: "Baskerville Book BQ Regular", "Baskerville Book BQ", "Baskerville", "Palatino", "Palatino Linotype", "Book Antiqua", "Times", "Times New Roman", serif;
    font-style: italic;
    font-size: 16pt;
    font-weight: normal;
    letter-spacing: .020em;
    word-spacing: .05em;
    margin-left: 0.5rem;
}

@media (max-width: 1024px) {
    .PoemList ion-card-subtitle {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .chaptertitle {
        font-size: 14pt;
    }

    .PoemList ion-card-subtitle {
        font-size: 0.8rem;
    }
}

@media (max-width: 500px) {
    .chaptertitle {
        font-size: 12pt;
    }

    .PoemList ion-card-subtitle {
        font-size: 0.8rem;
    }
}

