* {
     font-family: "Baskerville Book BQ Regular", "Baskerville Book BQ", "Baskerville", "Palatino", "Palatino Linotype", "Book Antiqua", "Times", "Times New Roman", serif;
     padding: 0pt;
     border: 0pt;
     margin: 0pt;
     widows: 1;
     orphans: 1;
     line-height: 1.15rem;
     line-height: calc(1.15rem + (var(--yogi-font-size) * 0.1));
     letter-spacing: .014rem;
     /* word-spacing: .003em; */
     word-spacing: -.1em;
 }

 .AyogiSearch { 
     margin: auto;
     margin-bottom: 4rem;
     width: 100%;
     height: 100%;
}

.AyogiSearch hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .AyogiSearch .chapterheader {
      margin-left: 1rem;
  }