 .AyogiWisdom {
     margin: 1rem;
 }
/*
    display: block;
    text-align: left;
    width: 80%;
    padding-top: 3rem;
    margin-top: 1rem;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
} */

.wisdom {
    font-size: var(--yogi-font-size);
    /* text-align: var(--yogi-text-align); */
}

p.largeSpace {
    margin: 2px; 
}

p.smallSpace {
    margin-top: -15px; 
}

.paragraphIndent {
    margin-left: 15px;
}

.break {
    /* display: inline-block; */
}

.spaceAfter {
    margin-right: 15px;
}

.DropCap {
    font-size: calc(var(--yogi-font-size) * 2);
    /* line-height: calc(var(--yogi-font-size) - 0.8); */
    line-height: 0.75em;
    display: block;
    float: left;
    position: relative;
    top: .2em;
    height: 0.7em;
    padding-right: 0.05em;
    padding-bottom: 0.6em;
}

.FirstWords,
.letterAfterDropCapL,
.letterAfterDropCapA,
.letterAfterDropCapR {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-variant: small-caps;
    font-size: calc(var(--yogi-font-size) * 0.8);
    line-height: 80%;
    letter-spacing: .12em;
}

.DropQuoteHanging {
    display: inline;
    float: left;
    vertical-align: top;
    position: relative;
    top: 0.3em;
    height: .7em;
    left: -0.4em;
     width: 0em;
}

.SubstituteCapJ {
    font-family: "Excelsior LT Std", "Baskerville Book BQ Regular", "Baskerville Book BQ", "Baskerville", "Palatino", "Palatino Linotype", "Book Antiqua", "Times", "Times New Roman", serif;
   font-style: italic;
   letter-spacing: -.1em;	position: relative; left: .1em;	/* slide it over to the right a bit. */
   line-height: 0pt;
}

.upShiftDropCapJ {
    top: -.2em !important;
}
    
.rightShiftDropCapQuoteJ {
    padding-left: 6pt;
}

.letterAfterDropCapL {
   margin-left: -.7em;
}

.letterAfterDropCapA {
   margin-left: -.5em;
}

.letterAfterDropCapR {
   margin-left: -.4em;
}
.hangingDoubleQuote {
    position: relative;						
    left: -.5em;
}

/* todo: BLOCKQUOTE + all child classes*/

.footnote.emphasis {
    font-size: calc(var(--yogi-font-size) * 0.9);
}

.emphasis {
    font-family: "Excelsior LT Std", "Baskerville Book BQ Regular", "Baskerville Book BQ", "Baskerville", "Palatino", "Palatino Linotype", "Book Antiqua", "Times", "Times New Roman", serif;
    font-weight: normal;
    font-style: italic;
    font-size: calc(var(--yogi-font-size) * 0.9);
    line-height: inherit;
}

/** Introduction **/

.firsttitlepage {
    margin: 10rem auto;
    text-align: center;
    display: block;
}

.dedicated1, .dedicated2, .dedication {
    margin: 1.5rem auto;
    text-align: center;
    display: block;
}

.dedicated1, .dedication {
    font-family: "Excelsior LT Std", "Baskerville Book BQ Regular", "Baskerville Book BQ", "Baskerville", "Palatino", "Palatino Linotype", "Book Antiqua", "Times", "Times New Roman", serif;
}

.dedicated1 {
    margin-top: 10rem;
    font-style: italic;
}

.dedicated2 {
    font-family: "Bauer Bodoni D", "Times", "Times New Roman", serif;
    letter-spacing: .3em;
    text-transform: uppercase;    
}

.dedication {
    margin-bottom: 10rem;
}

.prefacetitle {
    font-family: "Bauer Bodoni Std 1", "Times", "Times New Roman", serif;
    font-style: italic;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 24pt;
    letter-spacing: .2rem;
    word-spacing: .2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.prefaceby, .prefacebyit {
    margin: 0.5rem auto;
    text-align: center;
    display: block;
}

.prefacebyit {
    font-style: italic;
}

.wentzsignature {
    text-align: right;
    text-transform: uppercase;
    font-family: "Times", "Times New Roman", serif;
    margin-top: 1rem;
    display: block;
}

.nocontent {
    display: none;
}

.acknowledgments {
    display: block;
    margin: 10rem auto 2rem auto;
    font-family: "Excelsior LT Std", "Baskerville Book BQ Regular", "Baskerville Book BQ", "Baskerville", "Palatino", "Palatino Linotype", "Book Antiqua", "Times", "Times New Roman", serif;
    font-style: italic;
    font-size: 13pt;
    text-align: center;
}

.acknowledgmentssignature {
    display: block;
    text-align: right;
    margin-right: 1em;
    text-transform: lowercase;
    font-variant: small-caps;
}

.acknowledgmentsplace{
    display: block;
    text-align: left;
    font-style: italic;
}


